---
import ExperienceItem from './ExperienceItem.astro';
const EXPERIENCE = [
  {
    date: 'En desarrollo...',
    title: 'Sistema de Informacion para Torneos de Karate',
    description: `Desarrollando un tablero de arbitraje para la asignacion de puntos en combate junto a la creacion de paneles administrativos para la gestion de datos a tiempo real en los torneos de Karate de la modalidad 'Kumite' utilizando React para el frontend y Python + Flask para el backend.`,
    link: '#',
  },
  {
    date: 'Octubre 2025',
    title: 'Diseño de flyer para promocion de servicios',
    description: `Creacion de un flyer publicitario en busca de captar clientes que necesiten servicios de ChatGPT+ IA generativa para optimizar sus negocios.`,
  },
]
---

<ol class="w-full lg:w-8/12">
  {
    EXPERIENCE.map(experience => (
      <li class="mb-10 ms-3">
        <ExperienceItem 
          date={experience.date}
          title={experience.title}
          description={experience.description}
          link={experience.link}>
        </ExperienceItem>
      </li>
    ))
  }
</ol>